venv/
.env
data/raw_videos/
data/pose_data/
data/annotated_videos/
data/frames/
data/dig/
models/AthletePose3D/
cookies.txt
*.txt.txt
*.lnk
*.pt
__pycache__/
*.pyc
*.npy
*.mp4
*.webm
*.mkv
*.jpg
*.png
sample/

